<ion-view view-title="Thread">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="logout()">
            Logout
        </button>
    </ion-nav-buttons>
  <!--<ion-content class="padding icons-basic-page">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{chat.lastText}}
    </p>
  </ion-content>-->
  <div class="contacImg">
  <img ng-src="{{me.face}}" style="width: 64px; height: 64px; margin-left: 2px; margin-top: 46px;">
  </div>
    <ion-content class="content-stable" on-swipe-left="hideTime = false" on-swipe-right="hideTime = true">
      <div class="content-container">
        <div ng-repeat="message in messages"
             class="messages {{message.style}}">

          <div class="message {{message.style}}" ng-class="{'slide-right': hideTime, '': !hideTime}">
            <span class="msgSpan {{message.style}}">{{ message.text }}</span>
          </div>

          <div class="time {{message.style}}" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.time}}</div>

        </div>
    </div>

    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>
</ion-view>
