<ion-view view-title="{{viewTitle}}" cache-view="false" hide-back-button="{{hideBackButton}}">
    <ion-nav-buttons side="right">
        <button class="button btnHead" ng-click="logout()">
            Logout
        </button>
    </ion-nav-buttons>
  <!--<ion-content class="padding icons-basic-page">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{chat.lastText}}
    </p>
  </ion-content>-->
  <div class="contacImg" style="float:left; width:100%;">
    <img ng-src="{{selectedPat.face}}" style="width: 54px; height: 54px; margin-left: 2px; margin-top: 46px; float:left; border-radius: 50%;" />
    <h3 style="float:left; margin-top:58px; margin-left:5px; color:#545454;">{{selectedPat.name}}<h3>
  </div>
    <ion-content class="content-stable" on-swipe-left="hideTime = false" on-swipe-right="hideTime = true">
      <div class="content-container">
        <div ng-repeat="message in messages" class="messages {{message.style}}" my-post-repeat-directive>

          <div class="message {{message.style}}" ng-class="{'slide-right': hideTime, '': !hideTime}">
            <div class="msgSpan {{message.style}}"><span class="msgHeader">{{message.sender}}  {{message.time}}</span></br><span>{{ message.text }}</span></div>
          </div>

          <!--<div class="time {{message.style}}" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.time}}</div>-->

        </div>
    </div>

    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>
</ion-view>
