<ion-view view-title="MIWADO" cache-view="false">
    <ion-content ng-controller="LoginCtrl" scroll="false">
        <section class="bg-container">
            <div class="content-container">
            <div class="col header text-center login-img-container">
                <img class="login-img" src="./img/logo2.0.png"/>
                <div class="list login-list" ng-class="hideLogin">
                    <i4mi-midata-login user="user" controller-name="I4MIMidataLoginController"></i4mi-midata-login>
                </div>
                <!--<select calss="item item-input item-content" ng-model="mySelect" ng-change="saveSelectValue(mySelect)">
                    <option value="1" selected="selected">Patient</option>
                    <option value="2">Health Provider</option>
                </select>-->
                </section>
            </div>
            </div>
    </ion-content>
</ion-view>
