<ion-view view-title="MIWADO" cache-view="false">
    <ion-content ng-controller="LoginCtrl" scroll="false">
        <section class="bg-container">
            <div class = "col header text-center login-img-container">
                <img class=  "login-img" src="./img/logo2.0.png"/>
                <div class="list login-list">
                    <i4mi-midata-login user="user" controller-name="I4MIMidataLoginController"></i4mi-midata-login>
                </div>
            </div>
        </section>
    </ion-content>
</ion-view>
