<ion-view view-title="MIWADO" cache-view="false">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="changeType()">
            Change Usertype
        </button>
    </ion-nav-buttons>
    <ion-content ng-controller="LoginCtrl" scroll="false">
        <section class="bg-container">
            <div class="content-container">
            <div class="col header text-center login-img-container">
                <img class="login-img" src="./img/Logo2.0.png"/>
                <div class="list login-list" ng-class="hideLogin">
                    <input class="login-list input" type="text" id="user" value="{{user.username}}" />
                    <input class="login-list input" type="password" id="pw" value="{{user.password}}"/>
                    <button class="button button-full button-positive" ng-click="newLogin()">Login</button>
                    <!--<i4mi-midata-login user="user" controller-name="I4MIMidataLoginController"></i4mi-midata-login>-->
                </div>
                </section>
            </div>
            </div>
    </ion-content>
</ion-view>
