<!--
  This template will be used in the chat as a guidline for sending an appointment request
  to the Patient.
-->
<link href="css/textTemplatesanswerOtherAppointment.css" rel="stylesheet">
<div class="tempelateTermin">
  <!--Header-->
  <div class="row ">
    <label class="textHeader">Guten Tag</label>
    <select class="selectGender">
      <option>---</option>
      <option>Herr</option>
      <option>Frau</option>
    </select>
    <input type="text" class="headerNameField" placeholder="Absendername">
  </div>

  <!--Body-->
  <div class="row myRow">
    <label class="textBody">
      Dieser Termin geht für mich leider nicht.
    </label>
  </div>
  <div class="row myRow">
    <label class="textBody">
      Bitte senden Sie mir einen neuen Termin nach
    </label>
  </div>
  <div class="row myRow">
    <label class="textBody">
      dem
    </label>
      <input type="date" class="selectDate">
  </div>

  <!--Footer-->
  <div class="row">
    <label class="textFooter">Mit freundlichen Grüssen</label>
  </div>
  <div class="row">
    <input type="text" class="senderName" placeholder="Patientenname">
  </div>
</div>
