<!--
  This template will be used in the chat as a guidline for sending an appointment request
  to the Patient.
-->
<link href="css/textTemplates.css" rel="stylesheet">
<div class="tempelateTermin">
  <!--Header-->
  <div class="row ">
    <label class="textHeader">Guten Tag</label>
    <select class="selectGender">
      <option>---</option>
      <option>Herr</option>
      <option>Frau</option>
    </select>
    <input type="text" class="headerNameField" placeholder="Patientenname">
  </div>

  <!--Body-->
  <div class="row myRow">
    <label class="textBody">
      Sie haben am
      <input type="date" class="selectDate">
      um
      <input type="time" class="selectTime">
    </label>
  </div>
  <div class="row myRow">
    <label class="textBody">
      den nächsten Termin in der UDEM des Insels Spitals. Wir bitte Sie diesen Termin zu
    </label>
  </div>
  <div class="row myRow">
    <label class="textBody">
     bestätigen oder einen Ersatztermin vorzuschlagen.
    </label>
  </div>
  <div class="row myRow">
    <label class="textBody">
        Wir werden sie einige Tage vor dem eigentlichen Termin erneut daran erinnern.
    </label>
  </div>

  <!--Footer-->
  <div class="row spacerRow">
    <label class="textFooter">Mit freundlichen Grüssen</label>
  </div>
  <div class="row">
    <input type="text" class="senderName" placeholder="Absendername">
  </div>
</div>
