<!--
This template will be used in the chat as a guidline for sending an appointment request
to the Patient.
-->
<link href="css/textTemplatesanswerOtherAppointment.css" rel="stylesheet">
<div class="tempelateTermin">
  <!--Header-->
  <div class="row ">
    <label class="textHeader">Guten Tag</label>
    <select class="selectGender">
      <option>---</option>
      <option>Herr</option>
      <option>Frau</option>
    </select>
    <input type="text" class="headerNameField" placeholder="Absendername">
  </div>

  <!--Body-->
  <div class="row spacerRow">
    <label class="textBody">
      Ich muss mich leider für den Termin
    </label>
  </div>
  <div class="row">
    <label class="textBody">
      am
      <input type="date" class="selectDate">
      um
      <input type="time" class="selectTime">
      abmelden.
    </label>
  </div>

  <!--Footer-->
  <div class="row spacerRow">
    <label class="textFooter">Mit freundlichen Grüssen</label>
  </div>
  <div class="row">
    <input type="text" class="senderName" placeholder="Patientenname">
  </div>
</div>
