$stable:                          #f8f8f8 !default;

.scroll {
  padding: 10px 0 50px;
}

.contacImg {
  background: rgba(75, 224, 255, 0.25);
  z-index: 0;
}

.content-stable {
  z-index: -1;
  border: 1px solid #ccc!important;
  border-radius: 16px!important;
  margin-top: 71px;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.messages.other {
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  text-align: right !important;
}
.message.slide-right.other {
  -webkit-transform: translate3d(120px, 0, 0) !important;
  -moz-transform: translate3d(120px, 0, 0) !important;
  transform: translate3d(120px, 0, 0) !important;
  margin-right: 120px;
  text-align: right !important;
}

.msgSpan.other {
  color: black !important;
  background-color: #C7C7CC !important;
}

.time.other {
  display: none;
}

.messages {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.message {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 10px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  overflow: hidden;
  text-align: left;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.time {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  width: 120px;
  text-align: center;
  padding: 0 0 0 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-transform: translate3d(10px, 0, 0);
  -moz-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
  &.slide-right {
    -webkit-transform: translate3d(130px, 0, 0);
    -moz-transform: translate3d(130px, 0, 0);
    transform: translate3d(130px, 0, 0);
  }
}

.msgSpan {
  background: #007AFF;
  display: inline-block;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  max-width: 240px;
}
