/*Test CSS for TextTempelate*/
.tempelateTermin{

}

.myRow{
   min-width: 100%;
   min-height: auto !important;
   max-height: auto;
   text-align: left;
}

input[type=checkbox] {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    margin: 10px;
}

.selectGender{
  height: 5%;
  background-color: inherit;
  border: none;
}

.locationVisibile{
  visibility: visible;
}

.selectVisible{
  visibility: visible;
}

.spacer{
  margin-top: -3% !important;
}

.spacer.fixer1{
  margin-bottom: -3% !important;
}

.locationHidden{
  visibility: hidden;
}

.selectSection{
  min-height: 10% !important;
  width: auto;
  background-color: inherit;
  border: none;

}

.headerNameField{
  height: 5% !important;
  margin: 0px !important;
  background-color: inherit;
}

.selectDate{
  background-color: inherit;
  max-height: 15px !important;
  padding: 0px !important;
  margin: 0px !important;
  margin-top: 1% !important;
  margin-left: 3% !important;
  min-width: 35% !important;
  max-width: 35% !important;
  font-size: 12px !important;
  float: left !important;
}


.selectTime{
  background-color: inherit;
  max-height: 12px !important;
  padding: 0px !important;
  margin: 0px !important;
  margin-top: 1% !important;
  margin-left: 4% !important;
  min-width: 10% !important;
  max-width: 30% !important;
  font-size: 12px !important;
}

.senderName{
  height: 5% !important;
  margin: 0px !important;
  background-color: inherit;
}

.spacerRow{
  margin-top: 2% !important;
}

.spacerRow2{
  margin-top: -3% !important;
}

.textHeader{
  display: flex;
  float: left;
  margin: 1px;
}

.textBody{
  display: flex;
  float: left;
}


.textBody.fixer1{
  margin-left: -1%;
  float: left;
}

.rowFixer{
  float: left;
}

/*--FIN--*/
